</div>

<footer>
	<div class="footer-container">
		<div class="half">
			<a href="{{ url('legal') }}">Mentions légales</a>
		</div>
		<div class="half">
			<a href="{{ url('contact') }}">Contact</a>
		</div>
	</div>
</footer>
<script src="{{ global.request.basepath }}/assets/js/main.js"></script>

</body>
</html> 