<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> LUMP </title>
        <link rel="stylesheet" href="{{ global.request.basepath }}/assets/stylesheet/reset.css">
        <link rel="stylesheet" href="{{ global.request.basepath }}/assets/stylesheet/main.css">
    </head>
    <body>
       
        <header>
            <nav class="nav">
                    <a href="{{ url('home') }}">Home</a>
                    <a href="{{ url('contact') }}">Contact</a>
            </nav>
            <div class="clear"></div>
        </header>