{{ include('partials/header.twig') }}

<section class="presentation">
	<div class="container">
		<span class="title">LUMP</span>
		<h1>Bring a lump of yourself !</h1>
		<p>
			Créez une playlist à plusieurs pour organiser <br> 
			l’événement parfait !
		</p>
		<a href="">Découvrir</a>
	</div>
</section>

<section class="subscribe">
	<h2>Rejoins la communauté Lump !</h2>
	<input type="mail" placeholder="quentin.lemarchand@hetic.net">
	<a href="">S'inscrire</a>
</section>

<section class="discover">
	<div class="container">
		<h2>Qu’est ce que lump ?</h2>
		<p>
			Une nouvelle manière de profiter de vos <br>
			événements, et de vivre la musique.
		</p>
		<a href="">Découvrir</a>
	</div>
</section>

<section class="share">
	<div class="nav">
		<div class="item current-item">
			1. Osez le mélange des genres
		</div>
		<div class="item">
			2. Partagez sur le même genre
		</div>
		<div class="clear"></div>
	</div>
	<div class="slider-container">
		<div class="slider slider-1">
			<div class="left">
				<h2>Osez le mélange des genres !</h2>
				<ul>
					<li>Provoquez le choc des genres</li>
					<li>Soyez curieux de ce qu’aime les autres</li>
					<li>Discutez, partagez, débattez, défendez <br> rigolez…assumez !</li>
				</ul>
			</div>
			<div class="right">
				<img src="uploads/img/lump-concept-1.png" alt="">
			</div>
			<div class="clear"></div>
		</div>
		<div class="slider slider-2">
			<div class="left">
				<img src="uploads/img/lump-concept-2.png" alt="">
			</div>
			<div class="right">
				<h2>Partagez sur un <br> même genre *</h2>
				<ul>
					<li>Affinez votre style musical</li>
					<li>Nourissez vous de la passion des autres pour un même style musical</li>
					<li>Impressionez votre entourage de vos dernières découvertes</li>
				</ul>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</section>

<section class="vote">
	<div class="vote-text">
		<h2>Votez</h2>
		<p>
			Likez parmi les chansons proposées celles <br> qui vous plaisent, elles seront intégrées à <br> la future playlist !
		</p>
	</div>
	<div class="vote-img">
		<img src="uploads/img/vote.png" alt="">
	</div>
</section>

<section class="event">
	<div class="slider-container">
		<div class="slider slider-1">
			<h2>Evénements privés</h2>
			<p>Lumpez vos événements et apportez-leur de la magie ! <br> Rendez chacun de vos événements uniques, gravés dans les <br> mémoires. </p>
			<h3>Jeudi soir</h3>
			<span>Je les attend pour L’APÉRITIF</span>
			<br>
			<span>> grâce à mes 6 LUMPYS, nous avons créé 3 heures de playlist !</span>
		</div>
		<div class="slider slider-2">
			<h2>Evénements privés</h2>
			<p>Lumpez vos événements et apportez-leur de la magie ! <br> Rendez chacun de vos événements uniques, gravés dans les <br> mémoires. </p>
			<h3>Vendredi soir</h3>
			<span>La SOIRÉE C'EST CHEZ MOI du bon son garantit !</span>
			<br>
			<span>> grâce à mes 16 LUMPYS, nous avons créé 5 heures de playlist !</span>
		</div>
		<div class="slider slider-3">
			<h2>Evénements privés</h2>
			<p>Lumpez vos événements et apportez-leur de la magie ! <br> Rendez chacun de vos événements uniques, gravés dans les <br> mémoires. </p>
			<h3>Samedi soir</h3>
			<span>C'est MON ANNIVERSAIRE, on en profite tous ensemble !</span>
			<br>
			<span>> grâce à mes 28 LUMPYS, nous avons créé 8 heures de playlist !</span>
		</div>
		<div class="clear"></div>
	</div>
	<div class="nav">
		<div class="items">
			<div class="item current-slide">Apéritifs</div>
			<div class="item">Soirées</div>
			<div class="item">Occasions</div>
		</div>
	</div>
</section>

<section class="pro">
	<h2>Événements professionnels</h2>
	<p>
		Lump s’installe aussi dans vos évènements professionnels, <br>
		BDE, séminaires, start-up… <br>
		Vos évenements sont presonnalisés pour satisfaire les <br>
		goûts de chacun.
	</p>
	<div class="container">
		<div class="square-container">
			<div class="square"></div>
			<div class="square-text">
				Élaboration <br> 
				de devis pour <br>
				des événements.
			</div>
		</div>
		<div class="square-container">
			<div class="square"></div>
			<div class="square-text">
				Nous nous occupons <br>
				de la gestion du <br>
				groupe, de la playlist
			</div>
		</div>
		<div class="square-container">
			<div class="square"></div>
			<div class="square-text">
				Nous sommes <br>
				disponibles à tout <br>
				moment du processus (SAV)
			</div>
		</div>
		<div class="square-container">
			<div class="square"></div>
			<div class="square-text">
				Pas besoin de <br>
				connexion, nous vous <br>
				proposons le hors ligne
			</div>
		</div>
		<div class="clear"></div>
	</div>
</section>

<section class="social">
	<div class="left">
		<div class="text">
			<h2>Lump c’est aussi un réseau social musical</h2>
			<p>
				Lump facilite vos découvertes musicales et amène à la rencontre sans frontière. En effet,  suivez des utilisateurs de Lump à l’international, chattez avec eux, creez de nouveaux liens, et pourquoi pas les inviter à vos événements ?
			</p>
		</div>
		<div class="social-img-1">
			<img src="uploads/img/circle-1.png" alt="">
		</div>
	</div>
	<div class="social-img-2">
		<img src="uploads/img/circle-2.png" alt="">
	</div>
	<div class="clear"></div>
	<div class="arrows">
		<img src="uploads/img/arrow-1.png" alt="">
		<img src="uploads/img/arrow-2.png" alt="">
	</div>
</section>

{{ include('partials/footer.twig') }}
